/* Desing for Barnicham */
:root {
    --color-primary: rgb(30, 30, 30);
    --color-secundary: rgb(81, 81, 81);
}

.navbar {
    background-color: var(--color-primary) !important;
    position: sticky;
    padding: 0.5rem 0.5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
}
.navbar h1 {
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin: 0;
}

.sidebar {
    background-color: var(--color-secundary);
    position: fixed;
    height: -webkit-fill-available;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.29);
}
.sidebar a,
.sidebar a i {
    color: white;
    font-weight: 600;
}

.sidebar a:hover {
    color: white;
}